<h1>Users</h1>

<% if  current_user == @user %>
 <p> Your Profile </p>
<% else %>
<% if @user.liked?(@user) %>

<%= link_to "unfollow", users_unfollow_path(params[:id]), method: :post %>

<% else %>
<%= link_to "follow", users_follow_path(params[:id]), method: :post %>

<% end %>
<% end %>

Number of Followers: <%= @user.followers_count %> <br>
Number of people I am following: <%= @user.follow_count %>

<br>User Followers: <br>
<% @user.user_followers.each do |follower| %>
<%= link_to follower.name, user_path(follower) %><br>
<% end %>

	<p><%= @user.name %></p>
	<h2> Your Level is: <%= @level %> </h2>
	<h1>These are the high scores</h1>
	<% @highscores.each do |score| %>
	<p>highscore</p>
	<p><%= score.point %></p>
	<p><%= score.created_at.strftime("%d %b. %Y") %></p>
	<% end %>
	<h1>These are the last 10 </h1>
	<% @lastscores.each do |score| %>
	<p>LastScores</p>
	<p><%= score.point %></p>
	<p><%= score.created_at.strftime("%d %b. %Y") %></p>
	<% end %>
</div>


