<div class="container">
	<div class="row">
		<div class="col-md-12">		
			<div id="sidebar" class="col-xs-2">
				<%= image_tag @user.image, class: "prof_image" %>
			</div>
			<div id="content" class="col-xs-10">
				<h2><%= @user.name %></h2>					
				<h4>Level: <level><%= @level %></level></h4>
				<% if current_user == @user %>
				<% else %>
					<% if @user.liked?(@user) %>
						<%= link_to "Unfollow", users_unfollow_path, method: :post, class: "btn btn-danger" %>
					<% else %>
						<%= link_to "Follow", users_follow_path(params[:id]), method: :post , class: "btn btn-success"%>
					<% end %>
				<% end %>
			<hr>
			</div>
		</div>
		<div class="col-md-12">
			<div id="sidebar" class="col-xs-4" id="score_list">
				<h3>Higher scores</h3>
					<% @highscores.each do |score| %>
					<ol>
						<hr>
						<li><strong><%= score.point %></strong> <small>(<%= score.created_at.strftime("%d %b. %Y") %>)</small></li>
					</ol>
				<% end %>
			</div>
			<div id="sidebar" class="col-xs-4">
				<h3>Last 10 games </h3>
				<% @lastscores.each do |score| %>
					<ol>
						<hr>
						<li><strong><%= score.point %></strong> <small>(<%= score.created_at.strftime("%d %b. %Y") %>)</small></li>
					</ol>
				<% end %>
			</div>
			<div id="sidebar" class="col-xs-4">
				<h3>Followers</h3>
				<p>Followed by <strong><%= @user.followers_count %></strong> people:</p>
				<p>
				<% @user.user_followers.each do |follower| %>
					<%= link_to follower.name, user_path(follower) %>
				<% end %>
				</p>
				<hr>
				<h3>Following</h3>
				Following <strong><%= @user.follow_count %></strong> people
			</div>
		</div>
	</div>


<!-- <div class="footer">
<div> -->
