<!DOCTYPE html>
<html>
<head>
  <title>TypeRacer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <nav>
          <div class="navbar-brand text-muted" href="/">
            Type<span style="color:#A987FF"><strong>Racer</strong></span>
          </div>
          <p class="navbar-text navbar-right">
            <% if current_user %>
              Welcome <strong><%= current_user.name %></strong>!
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
            <%# else %>
              <%#= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
            <% end %>
          </p>
        </nav>
      </div>
    </header>
    <div class="container-fluid">
     
      <%= yield %>
    </div>
  </body>
</html>